# Lasso Regression

In [2]:
import pandas as pd
import seaborn as sns
import numpy as np

In [4]:
df = pd.read_csv("HousingData.csv")
df = df.dropna()
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7

In [5]:
X = df.iloc[:,:-1]
Y = df.loc[:,'MEDV']

In [6]:
Y

0      24.0
1      21.6
2      34.7
3      33.4
5      28.7
       ...
499    17.5
500    16.8
502    20.6
503    23.9
504    22.0
Name: MEDV, Length: 394, dtype: float64

In [8]:
from sklearn.model_selection import train_test_split
X_train , X_test , Y_train, Y_test = train_test_split(X, Y , test_size=0.25 , random_state=40)

In [9]:
X_train

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
250,0.14030,22.0,5.86,0.0,0.4310,6.487,13.0,7.3967,7,330,19.1,396.28,5.90
120,0.06899,0.0,25.65,0.0,0.5810,5.870,69.7,2.2577,2,188,19.1,389.15,14.37
399,9.91655,0.0,18.10,0.0,0.6930,5.852,77.8,1.5004,24,666,20.2,338.16,29.97
214,0.28955,0.0,10.59,0.0,0.4890,5.412,9.8,3.5875,4,277,18.6,348.93,29.55
436,14.42080,0.0,18.10,0.0,0.7400,6.461,93.3,2.0026,24,666,20.2,27.49,18.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,11.57790,0.0,18.10,0.0,0.7000,5.036,97.0,1.7700,24,666,20.2,396.90,25.68
209,0.43571,0.0,10.59,1.0,0.4890,5.344,100.0,3.8750,4,277,18.6,396.90,23.09
10,0.22489,12.5,7.87,0.0,0.5240,6.377,94.3,6.3467,5,311,15.2,392.52,20.45
280,0.03578,20.0,3.33,0.0,0.4429,7.820,64.5,4.6947,5,216,14.9,387.31,3.76
418,73.53410,0.0,18.10,0.0,0.6790,5.957,100.0,1.8026,24,666,20.2,16.45,20.62

In [15]:
from sklearn.linear_model import Lasso
from sklearn.model_selection import GridSearchCV
regressor = Lasso()
parameters ={'alpha':[i for i in range(1,101)]}
Lasso_cv = GridSearchCV(regressor,parameters,scoring='neg_mean_squared_error',cv=5)

In [17]:
Lasso_cv.fit(X_train,Y_train)

GridSearchCV(cv=5, estimator=Lasso(),
             param_grid={'alpha': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,
                                   14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24,
                                   25, 26, 27, 28, 29, 30, ...]},
             scoring='neg_mean_squared_error')

In [19]:
y_predict = Lasso_cv.predict(X_test)

In [21]:
from sklearn.metrics import r2_score
score = r2_score(Y_test,y_predict)
score

0.600481991273563