# Linear Regression

In [46]:
import seaborn as sns
import pandas as pd

import numpy as np

df = pd.read_csv('HousingData.csv')

In [47]:
df = df.dropna()
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7

In [48]:
#Separating Indepentent and dependent features
X = df.iloc[:,:-1]
X

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,0.17783,0.0,9.69,0.0,0.585,5.569,73.5,2.3999,6,391,19.2,395.77,15.10
500,0.22438,0.0,9.69,0.0,0.585,6.027,79.7,2.4982,6,391,19.2,396.90,14.33
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48

In [49]:
Y = df.loc[:,"MEDV"]
Y

0      24.0
1      21.6
2      34.7
3      33.4
5      28.7
       ...
499    17.5
500    16.8
502    20.6
503    23.9
504    22.0
Name: MEDV, Length: 394, dtype: float64

In [50]:
from sklearn.model_selection import train_test_split
X_train , X_test  , Y_train , Y_test = train_test_split(X,Y,test_size=0.25, random_state=40, )

In [51]:
X_train

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
250,0.14030,22.0,5.86,0.0,0.4310,6.487,13.0,7.3967,7,330,19.1,396.28,5.90
120,0.06899,0.0,25.65,0.0,0.5810,5.870,69.7,2.2577,2,188,19.1,389.15,14.37
399,9.91655,0.0,18.10,0.0,0.6930,5.852,77.8,1.5004,24,666,20.2,338.16,29.97
214,0.28955,0.0,10.59,0.0,0.4890,5.412,9.8,3.5875,4,277,18.6,348.93,29.55
436,14.42080,0.0,18.10,0.0,0.7400,6.461,93.3,2.0026,24,666,20.2,27.49,18.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,11.57790,0.0,18.10,0.0,0.7000,5.036,97.0,1.7700,24,666,20.2,396.90,25.68
209,0.43571,0.0,10.59,1.0,0.4890,5.344,100.0,3.8750,4,277,18.6,396.90,23.09
10,0.22489,12.5,7.87,0.0,0.5240,6.377,94.3,6.3467,5,311,15.2,392.52,20.45
280,0.03578,20.0,3.33,0.0,0.4429,7.820,64.5,4.6947,5,216,14.9,387.31,3.76
418,73.53410,0.0,18.10,0.0,0.6790,5.957,100.0,1.8026,24,666,20.2,16.45,20.62

In [52]:
X_test

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
78,0.05646,0.0,12.83,0.0,0.437,6.232,53.7,5.0141,5,398,18.7,386.40,12.34
374,18.49820,0.0,18.10,0.0,0.668,4.138,100.0,1.1370,24,666,20.2,396.90,37.97
380,88.97620,0.0,18.10,0.0,0.671,6.968,91.9,1.4165,24,666,20.2,396.90,17.21
413,28.65580,0.0,18.10,0.0,0.597,5.155,100.0,1.5894,24,666,20.2,210.97,20.08
372,8.26725,0.0,18.10,1.0,0.668,5.875,89.6,1.1296,24,666,20.2,347.88,8.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...
444,12.80230,0.0,18.10,0.0,0.740,5.854,96.6,1.8956,24,666,20.2,240.52,23.79
135,0.55778,0.0,21.89,0.0,0.624,6.335,98.2,2.1107,4,437,21.2,394.67,16.96
224,0.31533,0.0,6.20,0.0,0.504,8.266,78.3,2.8944,8,307,17.4,385.05,4.14
188,0.12579,45.0,3.44,0.0,0.437,6.556,29.1,4.5667,5,398,15.2,382.84,4.56
341,0.01301,35.0,1.52,0.0,0.442,7.241,49.3,7.0379,1,284,15.5,394.74,5.49

In [53]:
Y_train

250    24.4
120    22.0
399     6.3
214    23.7
436     9.6
       ...
392     9.7
209    20.0
10     15.0
280    45.4
418     8.8
Name: MEDV, Length: 295, dtype: float64

In [54]:
Y_test

78     21.2
374    13.8
380    10.4
413    16.3
372    50.0
       ...
444    10.8
135    18.1
224    44.8
188    29.8
341    32.7
Name: MEDV, Length: 99, dtype: float64

In [55]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LinearRegression

In [56]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
print(X_train)

[[-0.40233224  0.407147   -0.72867777 ...  0.25392487  0.42145241
  -0.95878554]
 [-0.41182214 -0.48827287  2.09278286 ...  0.25392487  0.34375672
   0.25173546]
 [ 0.8986857  -0.48827287  1.01637924 ...  0.76539986 -0.21188184
   2.48126647]
 ...
 [-0.39107505  0.02048842 -0.44211204 ... -1.55948645  0.38047965
   1.12068088]
 [-0.41624171  0.3257452  -1.08937992 ... -1.69897963  0.32370622
  -1.26463146]
 [ 9.36487403 -0.48827287  1.01637924 ...  0.76539986 -3.71755909
   1.14497706]]

In [57]:
regression = LinearRegression()
regression.fit(X_train,Y_train)

LinearRegression()

In [58]:
reg_pred = regression.predict(X_test)
reg_pred

array([21.8580595 ,  0.48415886, 18.48348556, 10.22599974, 21.5169093 ,
       18.07178954, 25.9490159 , 24.94705455, 22.2046631 , 17.29476716,
       29.12128518, 20.69324814, 25.01715787, 30.1044681 , 28.39584925,
       30.33461927, 23.41824809, 25.30243687, 12.3930564 , 16.65259754,
       21.86578306, 16.83615078, 19.11132595, 21.4203929 , 16.58862022,
       10.87690589, 12.08492053, 22.02237976, 10.41962772, 28.30431524,
       22.99694588, 24.60118494, 29.95278624, -2.84830877, 41.94567268,
       21.56953351, 35.28561532, 38.22207098, 13.5034302 , 24.27896209,
       12.30916232, 29.606117  , 31.25787328, 32.39707853, 23.93216323,
       41.56262086, 27.96936527,  5.65631412, 24.14678249, 25.28075348,
       20.70185286, 33.13204709, 17.25550745, 43.16611847, 18.15687147,
       33.00929493, 10.494967  , 37.59066521, 27.88727804, 30.15892762,
       17.23460277, 22.0359023 , 17.92210081, 22.14387675, 24.16245663,
       21.79620264, 20.83760067, 19.39606126, 16.07439209, 15.28918554,
       25.28879285, 25.25089446, 26.83614513, 25.97745949, 25.41433309,
        5.67431589, 12.41065094, 18.07964682, 12.04311934, 29.55708161,
       20.09944287, 21.19045706, 17.31106603,  6.58881009, 15.99545845,
       17.88285198, 20.04848997, 34.17996149, 11.53284316, 34.63383194,
       15.14425608, 17.67168945, 16.29372119, 18.49349498, 10.80779791,
       17.97045368, 38.29266771, 31.50871795, 31.31206845])

In [61]:
from sklearn.metrics import r2_score
score = r2_score(Y_test,reg_pred)
score

0.6629957601963078