# Ridge Regression

In [2]:
import seaborn as sns
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('HousingData.csv')
df = df.dropna()
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7

In [8]:
X = df.iloc[:,:-1]
X

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,0.17783,0.0,9.69,0.0,0.585,5.569,73.5,2.3999,6,391,19.2,395.77,15.10
500,0.22438,0.0,9.69,0.0,0.585,6.027,79.7,2.4982,6,391,19.2,396.90,14.33
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48

In [10]:
Y = df.loc[:,'MEDV']
Y

0      24.0
1      21.6
2      34.7
3      33.4
5      28.7
       ...
499    17.5
500    16.8
502    20.6
503    23.9
504    22.0
Name: MEDV, Length: 394, dtype: float64

In [11]:
from sklearn.model_selection import train_test_split

X_train , X_test , Y_train, Y_test = train_test_split(X,Y,random_state=40,test_size=0.25)
X_train

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
250,0.14030,22.0,5.86,0.0,0.4310,6.487,13.0,7.3967,7,330,19.1,396.28,5.90
120,0.06899,0.0,25.65,0.0,0.5810,5.870,69.7,2.2577,2,188,19.1,389.15,14.37
399,9.91655,0.0,18.10,0.0,0.6930,5.852,77.8,1.5004,24,666,20.2,338.16,29.97
214,0.28955,0.0,10.59,0.0,0.4890,5.412,9.8,3.5875,4,277,18.6,348.93,29.55
436,14.42080,0.0,18.10,0.0,0.7400,6.461,93.3,2.0026,24,666,20.2,27.49,18.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,11.57790,0.0,18.10,0.0,0.7000,5.036,97.0,1.7700,24,666,20.2,396.90,25.68
209,0.43571,0.0,10.59,1.0,0.4890,5.344,100.0,3.8750,4,277,18.6,396.90,23.09
10,0.22489,12.5,7.87,0.0,0.5240,6.377,94.3,6.3467,5,311,15.2,392.52,20.45
280,0.03578,20.0,3.33,0.0,0.4429,7.820,64.5,4.6947,5,216,14.9,387.31,3.76
418,73.53410,0.0,18.10,0.0,0.6790,5.957,100.0,1.8026,24,666,20.2,16.45,20.62

In [12]:
X_test

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
78,0.05646,0.0,12.83,0.0,0.437,6.232,53.7,5.0141,5,398,18.7,386.40,12.34
374,18.49820,0.0,18.10,0.0,0.668,4.138,100.0,1.1370,24,666,20.2,396.90,37.97
380,88.97620,0.0,18.10,0.0,0.671,6.968,91.9,1.4165,24,666,20.2,396.90,17.21
413,28.65580,0.0,18.10,0.0,0.597,5.155,100.0,1.5894,24,666,20.2,210.97,20.08
372,8.26725,0.0,18.10,1.0,0.668,5.875,89.6,1.1296,24,666,20.2,347.88,8.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...
444,12.80230,0.0,18.10,0.0,0.740,5.854,96.6,1.8956,24,666,20.2,240.52,23.79
135,0.55778,0.0,21.89,0.0,0.624,6.335,98.2,2.1107,4,437,21.2,394.67,16.96
224,0.31533,0.0,6.20,0.0,0.504,8.266,78.3,2.8944,8,307,17.4,385.05,4.14
188,0.12579,45.0,3.44,0.0,0.437,6.556,29.1,4.5667,5,398,15.2,382.84,4.56
341,0.01301,35.0,1.52,0.0,0.442,7.241,49.3,7.0379,1,284,15.5,394.74,5.49

In [13]:
Y_train

250    24.4
120    22.0
399     6.3
214    23.7
436     9.6
       ...
392     9.7
209    20.0
10     15.0
280    45.4
418     8.8
Name: MEDV, Length: 295, dtype: float64

In [14]:
Y_test

78     21.2
374    13.8
380    10.4
413    16.3
372    50.0
       ...
444    10.8
135    18.1
224    44.8
188    29.8
341    32.7
Name: MEDV, Length: 99, dtype: float64

In [17]:
from sklearn.linear_model import Ridge
regressor = Ridge()
from sklearn.model_selection import GridSearchCV
parameters = {'alpha':[i for i in range(1,101)]}
ridge_cv = GridSearchCV(regressor,parameters,scoring='neg_mean_squared_error',cv=5)

In [18]:
ridge_cv.fit(X_train,Y_train)

GridSearchCV(cv=5, estimator=Ridge(),
             param_grid={'alpha': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,
                                   14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24,
                                   25, 26, 27, 28, 29, 30, ...]},
             scoring='neg_mean_squared_error')

In [19]:
print(ridge_cv.best_params_)

{'alpha': 1}

In [20]:
print(ridge_cv.best_score_)

-17.700046552936882

In [21]:
y_pred = ridge_cv.predict(X_test)

In [22]:
y_pred

array([21.23880735,  0.0822233 , 19.03888548,  9.49128447, 21.25750024,
       17.60553167, 25.34190527, 24.57424158, 21.97615354, 17.34047393,
       29.43562555, 21.15997274, 24.79231284, 29.63350075, 28.45010218,
       30.46203659, 22.77401837, 25.46037553, 12.50154085, 16.82770587,
       21.42984377, 17.38215862, 18.46442382, 21.85586264, 15.80302242,
       11.03593268, 12.26549055, 22.05852163,  9.83725829, 28.11087108,
       22.95885493, 24.00635906, 29.5880409 , -2.91946144, 41.64842872,
       21.05422415, 34.89186543, 38.14012597, 13.02059057, 23.74572651,
       11.46806555, 29.06335375, 30.66304646, 32.27488631, 23.20345488,
       41.64696064, 27.6830384 ,  5.94342304, 24.55321949, 25.27375808,
       21.46871069, 32.93051361, 17.57635209, 42.89693571, 17.83906716,
       32.75992601, 10.87177118, 37.58899642, 27.90978989, 29.44030207,
       17.52179372, 22.38332146, 17.72644149, 21.70344271, 24.20005609,
       21.31258245, 20.33273025, 19.47744783, 15.75074018, 15.49227905,
       25.02013316, 25.50843018, 26.68731658, 25.92598856, 25.67952619,
        5.29961204, 12.50083135, 18.14924145, 12.45352398, 29.83368573,
       20.29215392, 21.89563362, 17.87105612,  6.49140703, 16.18888995,
       18.03515349, 20.41966708, 33.81559757, 11.85071439, 35.039826  ,
       15.25534325, 18.24128275, 16.18854277, 17.90784529, 11.16712781,
       18.07027404, 38.03568846, 31.1730852 , 31.37808597])

In [25]:
from sklearn.metrics import r2_score
score = r2_score(Y_test,y_pred)
score

0.654413873538934